.Logo {
    width: 100%;
    padding: 1rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1;
    color: #F4F4F4;
    background-color: #0C61A8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo .logoSec {
    font-weight: 100;
    color: #E6E6E6;
}