/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #D3D3E3;
}

@media (max-width: 800px) {
    body {
        padding-top: 40px;
    }
}

h1, h2, h3, h4, p {
    margin: 0px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Estrutura padrão */
main {
    display: flex;
    overflow-x: hidden;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Animações e efeitos */
@keyframes crescer {
    from {
        max-width: 100px;
        font-size: 0rem;
    }
    to {
        max-width: 16rem;
        font-size: auto;
    }
}

@keyframes encolher {
    from {
        font-size: 0rem;
        max-width: 16rem;
    }
    to {
        max-width: 100px;
        font-size: auto;
    }
}

@media (max-width: 800px) {
    @keyframes crescer {
        from {
            max-width: 0;
            font-size: 0rem;
        }
        to {
            max-width: 16rem;
            font-size: auto;
        }
    }
    
    @keyframes encolher {
        from {
            font-size: 0rem;
            max-width: 16rem;
        }
        to {
            max-width: 0;
            font-size: auto;
        }
    }
}

.menuToggle {
    animation: encolher 0.3s forwards;
}

.menuToggleAberto {
    white-space: nowrap;
    animation: crescer 0.3s forwards;
    overflow: hidden;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(2rem);
    } to {
        opacity: initial;
        transform: initial;
    }
}

.aparecer {
    animation: aparecer 0.4s forwards;
}