.BillingCyclesList {
    width: 100%;
    text-align: left;
    color: #555;
}

.BillingCyclesList td, .BillingCyclesList th {
    padding: 0.5rem;
}

.BillingCyclesList tbody tr:nth-child(odd) {
    background-color: rgba(12, 97, 168, 0.1);
}

.containerFeedBack {
    width: 100%;
    height: 10rem;
}

.acoes {
    min-width: 90px;
}

.btn {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    font-size: 0.875rem;
    border: none;
    color: #F4F4F4;
    cursor: pointer;
    transition: opacity 0.3s ease;
    outline: none;
}

.btn + .btn {
    margin-left: 0.5rem;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
}

.btnAlterar { background-color: #E71; }
.btnExcluir { background-color: #D43; }