.ValoresList {
    height: 100%;
    border: 1px solid #CCC;
    color: #666;
}

.ValoresList legend {
    font-weight: bold;
    text-transform: capitalize;
}

.ValoresList table {
    width: 100%;
    text-align: left;
}

@media (max-width: 800px) {
    .ValoresList table {
        min-width: 420px;
    }
}