.form {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.form button {
    max-width: 5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #F4F4F4;
    background-color: #0C91E8;
    box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover, .form button:focus {
    box-shadow: 0 0 0 3px #BEF, 0 0 0 4px #0C91E8;
    outline: none;
}

.form button:disabled {
    opacity: 0.5;
    cursor: wait;
}